:root {
    --main-color: #3399ff;
    --line-color: #c9c9c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignUp_wrap {
    width: 400px;
    margin-bottom: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* 첫 화면 이동 */
.send_home {
    margin: 30px 0 80px 0;
    text-align: end;
}

.send_home a {
    font-size: 13px;
    color: #666;
    text-decoration: none;
}

.send_home a:hover {
    color: var(--main-color);
}
/* 첫 화면 이동 */

.container {
    width: 400px;
    background-color: #fff;
    border: 1px solid var(--line-color);
}


/* 로그인 / 회원가입 이동 */
.SignUp_nav {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50% auto;
}

.siBtn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #777;
    text-decoration: none;
    border-right: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}

.suBtn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--main-color);
    text-decoration: none;
    border-top: 3px solid var(--main-color);
}
/* 로그인 / 회원가입 이동 */


/* 회원 유형 */
.user_mode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #666;
}

[type='radio'] {
    margin-right: 8px;
    align-items: center;
    width: 16px;
    height: 16px;
}
/* 회원 유형 */


/* 개인회원 정보 입력 */
#indiv {
    margin-top: 34px;
    padding: 0 40px;
}

.indiv_info {
    position: relative;
}

.indiv_info input, .indiv_info:nth-child(6) {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid var(--line-color);
    outline: none;
}

.indiv_info:nth-child(6) {
    padding-right: 15px;
}

.indiv_info select {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: #a9a9a9;
}

.indiv_info select:focus {
    color: #000;
}

#check {
    color: #c9c9c9;
}

.opt {
    color: #666;
}

.indiv_info input:focus {
    outline: 1px solid var(--main-color);
}

.indiv_info input::placeholder {
    position: absolute;
    color: #a9a9a9;
}
/* 개인회원 정보 입력 */


/* 기업회원 정보 입력 */
#corp {
    display: none;
    margin-top: 34px;
    padding: 0 40px;
}

.corp_info {
    position: relative;
}

.corp_info input {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid var(--line-color);
    outline: none;
}

.corp_info input:focus {
    outline: 1px solid var(--main-color);
}

.corp_info input::placeholder {
    position: absolute;
    color: #a9a9a9;
}
/* 기업회원 정보 입력 */


/* 전송 버튼 */
.btn {
    width: 100%;
    height: 44px;
    margin-bottom: 56px;
    background-color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    border: none;
}
/* 전송 버튼 */