<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myinfo_1</title>
    <link rel="stylesheet" href="myinfo_1.css">
</head>
<body>
    <header>
        <!-- 헤더 첫 번째 줄 (시작)-->
        <div class="nav1">
            <div class="nav1_left">
                <a href="#"> <!-- 메인페이지 링크 -->
                    <img src="img/logo.png" alt="logo">포용취업넷
                </a>
            </div>

            <div class="nav1_center">
                <input type="text" class="search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            
            <div class="nav1_right">
                <div class="link_wrap">
                    <!-- 로그인 전에는 "로그인, 회원가입" 버튼만 보이게, 나머지는 숨김 처리 -->
                    <a href="SignIn.html">로그인</a>
                    <a href="SignUp.html">회원가입</a>
                    <!-- 로그인 후에는 "쪽지함, 내정보, 로그아웃" 버튼만 보이게, 나머지는 숨김 처리 -->
                    <a href="#" class="message">쪽지함</a>
                    <a href="#" class="myPage">내정보</a>
                    <a href="#" class="logout">로그아웃</a>
                </div>
            </div>
        </div>
        <!-- 헤더 첫 번째 줄 (끝) -->


        <!-- 헤더 두 번째 줄 (시작) -->
        <div class="nav2">
            <div class="nav2_left">
                <a href="#" class="hire">채용정보</a>
                <a href="#">취업 분포도</a>
                <a href="#">직업·진로</a>
                <a href="#">이력서 작성</a>
            </div>

            <div class="nav2_right">
                <a href="#" class="customer">고객센터</a><!-- 고객센터 페이지 링크 -->
            </div>
        </div>
        <!-- 헤더 두 번째 줄 (끝) -->
    </header>

    <!-- 내 정보 시작 -->
    <class="myinfo_wrapper">
        <div class="myinfo">
            <form action="#" method="get">
                <table class="edit_area">
                    <tr class="user_id">
                        <td class="edit_list">아이디</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;unknown</td>
                    </tr>
                    <tr class="user_pw">
                        <td class="edit_list">비밀번호</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;******</td>
                    </tr>
                    <tr class="user_name">
                        <td class="edit_list">이름</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;홍길동</td>
                    </tr>
                    <tr class="user_address">
                        <td class="edit_list">주소</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;전남 OO시 oo동 oo아파트</td>
                    </tr>
                    <tr class="user_phone">
                        <td class="edit_list">연락처</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;123-4567-8910</td>
                    </tr>
                    <tr class="user_email">
                        <td class="edit_list">이메일</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;poyong@poyong.net</td>
                    </tr>
                    <tr class="disability_type">
                        <td class="edit_list">장애유형</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;청각장애</td>
                    </tr>
                    <tr class="user_parent_phone">
                        <td class="edit_list">보호자 연락처</td>
                        <td class="edit_content">&nbsp;&nbsp;&nbsp;123-4567-8910</td>
                    </tr>
                </table>
                <a href="#"><button class="edit_btn" type="submit">수정</button></a>
            </form>
        </div>
        <div class="side">
            <table class="side_menu">
                <tr id="side_menu_content">
                    <td>이력서
                        <br>수정
                    </td>
                </tr>
                <tr id="side_menu_content_2">
                    <td>문의·신고
                        <br>내역
                    </td>
                </tr>
            </table>
            
            <button class="out">회원탈퇴</button>
        </div>
        
        <!-- 구직활동요약표 시작 -->
        <div class="job_summary">
            <table class="summary_table">
                <tr class="summary">
                    <td class="resume">
                        <p class="count">1</p>
                        <p class="summary_title">내 이력서</p>
                    </td>
                    <td class="resume_see">
                        <p class="count">1</p>
                        <p class="summary_title">이력서 열람</p>
                    </td>
                    <td class="apply">
                        <p class="count">1</p>
                        <p class="summary_title">입사지원</p>
                    </td>
                    <td class="like_company">
                        <p class="count">1</p>
                        <p class="summary_title">관심기업</p>
                    </td>
                </tr>
            </table>
        </div>
        
    </div> 
    <script src="https://kit.fontawesome.com/d18a01d55c.js" crossorigin="anonymous"></script>
    <script src="header.js"></script>
</body>
</html>