<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header>
        <!-- 헤더 첫 번째 줄 (시작)-->
        <div class="nav1">
            <div class="nav1_left">
                <a href="#"> <!-- 메인페이지 링크 -->
                    <img src="img/logo.png" alt="logo">포용취업넷
                </a>
            </div>

            <div class="nav1_center">
                <input type="text" class="search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            
            <div class="nav1_right">
                <div class="link_wrap">
                    <!-- 로그인 전에는 "로그인, 회원가입" 버튼만 보이게, 나머지는 숨김 처리 -->
                    <a href="SignIn.html">로그인</a>
                    <a href="SignUp.html">회원가입</a>
                    <!-- 로그인 후에는 "쪽지함, 내정보, 로그아웃" 버튼만 보이게, 나머지는 숨김 처리 -->
                    <a href="#" class="message">쪽지함</a>
                    <a href="#" class="myPage">내정보</a>
                    <a href="#" class="logout">로그아웃</a>
                </div>
            </div>
        </div>
        <!-- 헤더 첫 번째 줄 (끝) -->


        <!-- 헤더 두 번째 줄 (시작) -->
        <div class="nav2">
            <div class="nav2_left">
                <a href="#" class="hire">채용정보</a>
                <a href="#">취업 분포도</a>
                <a href="#">직업·진로</a>
                <a href="#">이력서 작성</a>
            </div>

            <div class="nav2_right">
                <a href="#" class="customer">고객센터</a><!-- 고객센터 페이지 링크 -->
            </div>
        </div>
        <!-- 헤더 두 번째 줄 (끝) -->
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</body>
</html>