:root {
    --main-color: #3399ff;
    --line-color: #c9c9c9;
    --line-color2: #a9a9a9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 120px;
    /* border: 1px solid #a9a9a9; */
}


/* 헤더 첫 번째 줄 (시작) */
.nav1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

/* .nav1_left, .nav1_center {
    border-right: 1px solid #c9c9c9;
} */

.nav1_left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav1_left a {
    display: flex;
    align-items: center;
    margin-left: 80px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

.nav1_left a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav1_center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav1_center .search {
    width: 380px;
    height: 38px;
    padding-left: 15px;
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--line-color2);
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.nav1_center .search:focus {
    border: 2px solid var(--main-color);
    opacity: 0.6; /* 색상 투명도 조절 */
}

.nav1_center button {
    position: absolute;
    transform: translateX(1200%);
    background-color: transparent;
    border: none;
}

.nav1_center button:hover {
    color: var(--main-color);
}

/* .nav1_center button:active {
    color: var(--main-color);
} */

.nav1_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav1_right .link_wrap {
    margin-right: 80px;
}

.nav1_right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav1_right a:hover {
    color: var(--main-color);
}
/* 헤더 첫 번째 줄 (끝) */


/* 헤더 두 번째 줄 (시작) */
.nav2 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px var(--line-color);
    opacity: 0.8;
}

.nav2_left {
    margin-left: 80px;
}

.nav2_left a {
    margin-right: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.nav2_left a:hover {
    color: var(--main-color);
}

.nav2_left .hire {
    color: var(--main-color);
}

.nav2_right {
    margin-right: 80px;
}

.nav2_right .customer {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.nav2_right .customer:hover {
    color: var(--main-color);
}
/* 헤더 두 번째 줄 (끝) */