:root {
    --main-color: #3399ff;
    --line-color: #c9c9c9;
    --line-color2: #a9a9a9;
    --line-color3: #e0e2e6;
    --font-color: #333;
    --font-color2: #555;
    --font-color3: #666;
    --font-color4: #777;
    --scrollbar: #d8dbe2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    width: 100%;
    height: 120px;
    position: relative;
    z-index: 99;
}


/* 헤더 첫 번째 줄 (시작) */
.nav1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.nav1_left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav1_left a {
    display: flex;
    align-items: center;
    margin-left: 100px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}

.nav1_left a img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.nav1_center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav1_center .search {
    width: 380px;
    height: 38px;
    padding-left: 15px;
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--line-color2);
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.nav1_center .search:focus {
    border: 2px solid var(--main-color);
    opacity: 0.6; /* 색상 투명도 조절 */
}

.nav1_center button {
    position: absolute;
    transform: translateX(1200%);
    background-color: transparent;
    border: none;
}

.nav1_center button:hover {
    color: var(--main-color);
}

.nav1_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav1_right .link_wrap {
    margin-right: 100px;
}

.nav1_right a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
}

.nav1_right a:hover {
    color: var(--main-color);
}

.nav1_right .message {
    color: var(--main-color);
}
/* 헤더 첫 번째 줄 (끝) */


/* 헤더 두 번째 줄 (시작) */
.nav2 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px var(--line-color);
    opacity: 0.8;
}

.nav2_left {
    margin-left: 100px;
}

.nav2_left a {
    margin-right: 30px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
    cursor: pointer;
}

.nav2_left a:hover {
    color: var(--main-color);
}

.nav2_right {
    margin-right: 100px;
}

.nav2_right .customer {
    text-decoration: none;
    font-size: 14px;
    color: var(--font-color);
}

.nav2_right .customer:hover {
    color: var(--main-color);
}
/* 헤더 두 번째 줄 (끝) */


.all {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: space-between;
}

/* 쪽지 리스트 (시작) */
aside {
    width: 250px;
    height: 100%;
}

.sidebar {
    width: 100%;
    height: 100%;
    background-color: #fff;
    float: left;
    text-align: center;
    border-right: 1px solid var(--line-color);
}

.sidebar h3 {
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--line-color);
}

.scrollbox {
    width: 250px;
    height: calc(100vh - 170px);
    overflow: auto;
    overflow-x: hidden;
}

.scrollbox::-webkit-scrollbar {
    width: 10px;
}

.scrollbox::-webkit-scrollbar-button {
    display: none;
}

.scrollbox::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    background-clip: padding-box;
    border:2px solid transparent;
    border-radius: 10px;
}

.scrollbox::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: 1px solid var(--line-color);
}

.sidebar ul li {
    padding: 12px 0;
    font-size: 14px;
    color: var(--font-color2);
    letter-spacing: -1px;
    list-style: none;
    border-bottom: 1px solid var(--line-color);
}

.sidebar ul li:hover {
    background-color: #f3f5f7;
}
/* 쪽지 리스트 (끝) */


/* 채팅 부분 (시작) */
.chat_wrap {
    width: 100%;
    height: calc(100vh - 120px);
}

.chat_screen {
    width: 100%;
    height: 82%;
    background-color: #e2eaf3;
    overflow-x: none;
    overflow-y: scroll;
    padding: 0 60px;
}

.chat_screen::-webkit-scrollbar {
    width: 10px;
}

.chat_screen::-webkit-scrollbar-button {
    display: none;
}

.chat_screen::-webkit-scrollbar-thumb {
    background-color: var(--font-color4);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

.chat_screen::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat_content_wrap1 {
    margin: 20px 0 20px 40px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.chat_content_wrap1 .chat_content1 {
    min-width: 80px;
    max-width: 300px;
    min-height: 36px;
    padding: 10px;
    margin-right: 10px;
    background-color: #fff;
    opacity: 1;
    border-radius: 8px;
}

.chat_content_wrap1 .chat_content_tts1 {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.chat_content_wrap2 {
    margin: 20px 40px 20px 0;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.chat_content_wrap2 .chat_content2 {
    min-width: 80px;
    max-width: 300px;
    min-height: 36px;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    background-color: #fef01b;
    opacity: 0.8;
    border-radius: 8px;
}

.chat_content_left {
    text-align: right;
}

.chat_content_wrap2 .chat_content_left .chat_content_tts2 {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chat_content_time {
    font-size: 13px;
    color: var(--font-color3);
}

.chat_content_tts1 .fa-solid.fa-volume-high,
.chat_content_tts2 .fa-solid.fa-volume-high {
    font-size: 14px;
    color: var(--font-color3);
}

/* 채팅 입력, 전송 부분 (시작) */
.chat_bottom {
    background-color: #fff;
}

.chat_bottom form {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_input {
    width: calc(100% - 250px);
    height: 80px;
}

.chat_input textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 15px;
    resize: none;
    border: none;
    border: 1px solid var(--line-color);
    border-radius: 4px;
}

.chat_input textarea:focus {
    outline: 2px solid var(--main-color);
    opacity: 0.8;
}

.chat_btn {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.tts_stt {
    margin-right: 10px;
}

.tts_stt .chat_tts, .tts_stt .chat_stt {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--font-color2);
    border: 1px solid var(--line-color);
    border-radius: 5px;
    cursor: pointer;
}

.tts_stt .chat_tts {
    margin-bottom: 10px;
}

.fa-solid.fa-volume-high, .fa-solid.fa-microphone {
    color: var(--font-color2);
}

.fa-solid.fa-volume-high {
    font-size: 16px;
}

.fa-solid.fa-microphone {
    font-size: 20px;
}

.chat_tts:focus, .chat_stt:focus {
    background-color: var(--line-color);
    border-color: var(--line-color);
    transition: all 0.4s ease;
}

.submit_btn button {
    width: 90px;
    height: 80px;
    /* margin-right: 40px; */
    background-color: var(--main-color);
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit_btn button:focus {
    background-color: #3399ee;
    opacity: 1;
    transition: all 0.2s ease;
}
/* 채팅 입력, 전송 부분 (끝) */

/* 채팅 부분 (끝) */

.full_chat {
    display: none;
}

.sidebar li:focus {
    outline: none;
}